.places__paragraph {
  margin: 0;
  padding: 26px 0 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px;
}

.places__paragraph:first-of-type {
  padding-top: 0;
}

@media screen and (max-width: 1023px) {
  .places__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .places__paragraph {
    margin: 0 16px 0 16px;
  }
}
