.photo-grid {
  display: grid;
  max-width: calc(100% - 48px*2);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 16px;
  margin: 92px 48px 0 48px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: calc(100% - 24px*2);
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 88px 24px 0 24px;
    max-width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    margin: 64px 16px 0 16px;
    max-width: calc(100% - 16px*2);
  }
}