.intro__list {
  max-width: 690px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  list-style: none;
  padding: 0;
  margin: 33px 0 0 0;
}

@media screen and (max-width: 1023px) {
  .intro__list {
    margin: 34px 0 0 0;
  }
}
