.places__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  font-style: normal;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .places__title {
    font-size: 42px;
    font-weight: 900;
    line-height: 46px;
  }
}

@media screen and (max-width: 767px) {
  .places__title {
    margin-left: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}