.footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  color: #FFF;
  margin: 0 18px 0 0;
}

@media screen and (max-width: 767px ) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    gap: 32px;
  }
}
