.cover,
.cover:active {
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1184px;
  min-height: 740px;
  margin: 92px 48px 0 48px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1278px) {
  .cover {
    min-height: 640px;
    margin: 92px 0 0 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin-top: 90px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: 66px;
    min-height: calc(100vw * 480 / 768);
  }
}
