.places__place {
  display: grid;
  grid-template-columns: minmax(440px, 460px) 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-gap: 48px 40px;
  padding-top: 80px;
}

.places__place:first-of-type {
  padding-top: 0;
}

@media screen and (max-width: 1279px) {
  .places__place {
    grid-gap: 48px 32px;
    grid-template-columns: 440px 1fr;
    padding-top: 80px;
  }
}

@media screen and (max-width: 1023px) {
  .places__place {
    padding-top: 73px;
    grid-gap: 48px 28px;
    grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
  }
}

@media screen and (max-width: 767px) {
  .places__place {
    padding-top: 50px;
    grid-gap: 32px 32px;
    grid: 600px auto / 1fr;

    grid-template-rows: 1fr;
  }
}
