.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  font-style: normal;
  max-width: 560px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  color: #FFF;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: calc(100% - 16px*2);
  }
}
