.places__url-heading {
  color: #AAA;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 12px;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .places__url-heading {
    margin-left: 16px;
  }
}
